@inherits Custom.Hybrid.Razor12
@using System.Linq
@using ToSic.Eav.Configuration
@{
  var Edition = CmsContext.View.Edition;
  var workflowId = "ContactDefault";
  var FieldBuilder = CreateInstance("shared/FieldBuilders.cs");
  var helpers = CreateInstance("shared/Helpers.cs");
  var domAttribute = "mobius-" + CmsContext.Module.Id;
  var features = GetService<IFeaturesService>();
}


<div class="@helpers.WrapperClasses(Content)" @domAttribute data-webservice="app/auto/@Edition/api/Form/ProcessForm?workflowId=@workflowId">
  @Html.Partial("shared/_Toolbar.cshtml", new { Content = Content, WorkflowId = workflowId })

  <div class="app-mobius5-form">
    @FieldBuilder.EMail("SenderMail", true)
    @FieldBuilder.File("SingleFile", true, ".jpg, .jpeg", "SingleFile")
    @* since multiple files are sent to Attachments, in needs a unique form id *@
    @FieldBuilder.File("Attachments", false, "", "File2_1")
    @FieldBuilder.File("Attachments", false, "", "File2_2")
    
    @* Show/Hide features like Terms, Gdpr, Recaptcha *@
    @if (Settings.TermsEnabled)       { @Html.Partial("shared/_Terms.cshtml") }
    @if (Settings.GdprEnabled)        { @Html.Partial("shared/_GDPR.cshtml") }
    @if (Content.Recaptcha ?? false)  { @Html.Partial("shared/_Recaptcha.cshtml") }

    @* Messages / Send Button *@
    @Html.Partial("shared/_Submit with Messages.cshtml")

    @* show warning if the save-attachments in web api isn't activated
    this is a security feature to protect your installation from unwanted uploads *@
    @if (!features.Enabled(FeatureIds.UseAdamInWebApi)) {
      <div class="alert alert-warning">@Resources.MessageDisabledFeature</div>
    }
  </div>
</div>

@Html.Partial("shared/_Assets.cshtml", new { DomAttribute = domAttribute })