@inherits Custom.Hybrid.Razor12
@using System.Linq
@{
  var Edition = (Edit.Enabled ? "staging" : "live");
  var workflowId = "ContactDefault";
  var FieldBuilder = CreateInstance("shared/FieldBuilders.cs");
  var helpers = CreateInstance("shared/Helpers.cs");
}

<div class="@helpers.WrapperClasses(Content)" data-webservice="app/auto/@Edition/api/Form/ProcessForm?workflowId=@workflowId">
  @Html.Partial("shared/_Toolbar.cshtml", new { Content = Content, WorkflowId = workflowId })

  <div class="app-mobius5-form">
    @FieldBuilder.EMail("SenderMail", true)

    @FieldBuilder.File("SingleFile", true, ".jpg, .jpeg", "SingleFile")
    @* since multiple files are sent to Attachments, in needs a unique form id *@
    @FieldBuilder.File("Attachments", false, "", "File2_1")
    @* since multiple files are sent to Attachments, in needs a unique form id *@
    @FieldBuilder.File("Attachments", false, "", "File2_2")
    
    @if(Settings.TermsEnabled) {
      @Html.Partial("shared/_Terms.cshtml")
    }

    @if(Settings.GdprEnabled) {
      @Html.Partial("shared/_GDPR.cshtml")
    }

    @* Recaptcha *@
    @if(Content.Recaptcha ?? false) {
        @Html.Partial("shared/_Recaptcha.cshtml")
    }

    @* Messages / Send Button *@
    @Html.Partial("shared/_Submit with Messages.cshtml")
  </div>

</div>

@Html.Partial("shared/_Assets.cshtml")