@inherits ToSic.Sxc.Dnn.RazorComponent
@using System.Linq
@using Connect.Koi
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@{
  string Edition = (Dnn.User.IsSuperUser ? "staging" : "live");
  // get form config (data-type, web-api, etc.)
  var config = (Content.Presentation.SubmitType as Dynlist).FirstOrDefault()  // custom for this form only...
      ?? (App.Settings.SubmitType as Dynlist).First();    // ...or app-default configuration

  var FieldBuilder = CreateInstance("shared/_Field Builders.cshtml");
  var helpers = CreateInstance("shared/_Helpers.cshtml");
}

<div class="@helpers.WrapperClasses(Content)" data-webservice="app/auto/@Edition/api/Form/ProcessForm">
  @RenderPage("shared/_Toolbar.cshtml", new { Content = Content, Config = config })

  <div class="mobius-form">
    @FieldBuilder.Text("Subject", true)
    @FieldBuilder.Multiline("Message", true)
    @FieldBuilder.Text("SenderName", false)
    @FieldBuilder.EMail("SenderMail", true)

    <!-- Recaptcha -->
    @if (Content.Recaptcha ?? false) {
      @RenderPage("shared/_Recaptcha.cshtml")
    }

    <!-- Messages / Send Button -->
    @RenderPage("shared/_Submit with Messages.cshtml")
  </div>
</div>

@RenderPage("shared/_Assets.cshtml")