@inherits ToSic.Sxc.Dnn.RazorComponent
@using System.Linq
@using Connect.Koi
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@{
  string Edition = PageData["Edition"];
  // get form config (data-type, web-api, etc.)
  var config = (Content.Presentation.SubmitType as Dynlist).FirstOrDefault()  // custom for this form only...
      ?? (App.Settings.SubmitType as Dynlist).First();    // ...or app-default configuration

  var FieldBuilder = CreateInstance("shared/_Field Builders.cshtml");
}

<div class="mobius-wrapper @(Content.Mailchimp ?? false ? "mobius-mailchimp" : "") @(Content.Recaptcha ?? false ? "mobius-recaptcha" : "") sc-element" data-webservice="app/auto/@Edition/api/@config.Webservice">
  @RenderPage("shared/_Toolbar.cshtml", new { Content = Content, Config = config })

  <div class="mobius-form">
    @FieldBuilder.Text("Subject", true)
    @FieldBuilder.Multiline("Message", true)
    @FieldBuilder.Text("SenderName", false)
    @FieldBuilder.EMail("SenderMail", true)

    @FieldBuilder.File("SingleFile", true, ".jpg, .jpeg", "SingleFile")
    @* since multiple files are sent to Attachments, in needs a unique form id *@
    @FieldBuilder.File("Attachments", false, "", "File2_1")
    @* since multiple files are sent to Attachments, in needs a unique form id *@
    @FieldBuilder.File("Attachments", false, "", "File2_2")

    <!-- Recaptcha -->
    @if (Content.Recaptcha ?? false) {
        @RenderPage("shared/_Recaptcha.cshtml")
    }

    <!-- Messages / Send Button -->
    @RenderPage("shared/_Submit with Messages.cshtml")
  </div>

</div>

@RenderPage("shared/_Assets.cshtml", new { Edition = Edition})