@inherits Custom.Hybrid.Razor12
@*
  This is a demo how you can use JavaScript to show/hide fields based on other selections
*@
@using System.Linq
@{
  var Edition = CmsContext.View.Edition;
  var workflowId = "GenericSave";
  var FieldBuilder = CreateInstance("shared/FieldBuilders.cs");
  var helpers = CreateInstance("shared/Helpers.cs");
  var pageCss = GetService<Connect.Koi.ICss>();
  var domAttribute = "mobius-" + CmsContext.Module.Id;
}

<script>
  // 2sxclint:disable:no-inline-script
  // toggles visibility and sets provided domElement to required
  function showAndMakeRequired(domId) {
    const customField = document.querySelector(domId);
    customField.style.display = customField.style.display === 'none' ? 'flex' : 'none'; 
    customField.querySelector('input').setAttribute('required', this.checked)
  }
</script>

<div class="@helpers.WrapperClasses(Content)" @domAttribute data-webservice="app/auto/@Edition/api/Form/ProcessForm?workflowId=@workflowId">
  @Html.Partial("shared/_Toolbar.cshtml", new { Content = Content, WorkflowId = workflowId })

  <div class="app-mobius5-form">
    @FieldBuilder.Text("Subject", true)
    @FieldBuilder.Multiline("Message", true)
    @FieldBuilder.Text("SenderName", false)
    @FieldBuilder.EMail("SenderMail", true)

    <!-- I'm a Customer -->
    @{
      // will show/hide the additional field, and set it's "Required" state
      // create a unique name, to ensure it works if multiple forms are on the page
      var customFieldId = "app-mobius5-cid-" + CmsContext.Module.Id;
    }

    <div class="mb-3 row">
      <label for="IsCustomer-@CmsContext.Module.Id" class='control-label app-mobius5-field-required @(pageCss.Is("bs3") ? "col col-xs-11" : "col-11")'>I'm a Customer</label>
      <div class='@(pageCss.Is("bs3") ? "col col-xs-1" : "col-1") d-flex justify-content-end'>
        <!-- Important: That the validation works in checkboxes they have to have the "name" attribute instead of "id" -->
        <input type="checkbox" data-pristine-required-message="Required" id="IsCustomer-@CmsContext.Module.Id" name="IsCustomer-@CmsContext.Module.Id" required onclick="showAndMakeRequired('#@customFieldId')">
      </div>
    </div>

    <!-- Customer ID (if is customer) -->
    <div id="@customFieldId" class="mb-3 row" style="display:none">
      <label for="CustomerId" class='control-label app-mobius5-field-required @(pageCss.Is("bs3") ? "col col-xs-12 col-sm-4" : "col-12 col-md-4")'>Customer ID</label>
      <div class='@(pageCss.Is("bs3") ? "col col-xs-12 col-sm-8" : "col-12 col-md-8")'>
        <input type="text" class="form-control" data-pristine-required-message="Required" id="CustomerId" value="">
      </div>
    </div>

    @* Show/Hide features like Terms, Gdpr, Recaptcha *@
    @if (Settings.TermsEnabled)       { @Html.Partial("shared/_Terms.cshtml") }
    @if (Settings.GdprEnabled)        { @Html.Partial("shared/_GDPR.cshtml") }
    @if (Content.Recaptcha ?? false)  { @Html.Partial("shared/_Recaptcha.cshtml") }

    @* Messages / Send Button *@
    @Html.Partial("shared/_Submit with Messages.cshtml")
  </div>
</div>

@Html.Partial("shared/_Assets.cshtml", new { DomAttribute = domAttribute })