@inherits Custom.Hybrid.Razor12
@using Connect.Koi
@using System.Linq
@{
  var Edition = (Edit.Enabled ? "staging" : "live");
  var workflowId = "MailChimpDefault";
  var FieldBuilder = CreateInstance("shared/FieldBuilders.cs");
  FieldBuilder.LabelInPlaceholder = true;
  var helpers = CreateInstance("shared/Helpers.cs");
}

<div class="@helpers.WrapperClasses(Content)" data-webservice="app/auto/@Edition/api/Form/ProcessForm?workflowId=@workflowId">
  @Html.Partial("shared/_Toolbar.cshtml", new { Content = Content, WorkflowId = workflowId })

  <div class="mobius-form">
    @FieldBuilder.Text("SenderMail", true)
    @FieldBuilder.Text("SenderName", true)
    @FieldBuilder.Text("SenderLastName", true)
    
    @if(Settings.TermsEnabled) {
      @Html.Partial("shared/_Terms.cshtml")
    }

    @if(Settings.GdprEnabled) {
      @Html.Partial("shared/_GDPR.cshtml")
    }

    @* Recaptcha *@
    @if(Content.Recaptcha ?? false) {
      @Html.Partial("shared/_Recaptcha.cshtml")
    }

    @if(!Content.Mailchimp) {
      <div class="form-group row">
        <div @Koi.Class("bs3='col col-xs-12' bs4,oth='col-12'")>
          <div class="alert alert-warning">
            @Html.Raw(Resources.MessageEnableMailchimp.Replace("<p>", "").Replace("</p>", ""))
          </div>
        </div>
      </div>
    }

    @* Messages / Send Button *@
    @Html.Partial("shared/_Submit with Messages.cshtml")
  </div>
  
</div>

@Html.Partial("shared/_Assets.cshtml")