@inherits ToSic.Sxc.Dnn.RazorComponent
@using Connect.Koi
@using System.Linq
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@{
  var Edition = (Dnn.User.IsSuperUser ? "staging" : "live");
  var workflowId = "MailChimpDefault";
  var FieldBuilder = CreateInstance("shared/_Field Builders.cshtml");
  FieldBuilder.LabelInPlaceholder = true;
  var helpers = CreateInstance("shared/_Helpers.cshtml");
}

<div class="@helpers.WrapperClasses(Content)" data-webservice="app/auto/@Edition/api/Form/ProcessForm?workflowId=@workflowId">
  @RenderPage("shared/_Toolbar.cshtml", new { Content = Content, WorkflowId = workflowId })

  <div class="mobius-form">
    @FieldBuilder.Text("SenderMail", true)
    @FieldBuilder.Text("SenderName", true)
    @FieldBuilder.Text("SenderLastName", true)
    
    @if(App.Settings.TermsEnabled) {
      @RenderPage("shared/_Terms.cshtml")
    }

    @if(App.Settings.GdprEnabled) {
      @RenderPage("shared/_GDPR.cshtml")
    }

    @* Recaptcha *@
    @if(Content.Recaptcha ?? false) {
      @RenderPage("shared/_Recaptcha.cshtml")
    }

    @if(!Content.Mailchimp) {
      <div class="form-group row">
        <div @Koi.Class("bs3='col col-xs-12' bs4,oth='col-12'")>
          <div class="alert alert-warning">
            @Html.Raw(App.Resources.MessageEnableMailchimp.Replace("<p>", "").Replace("</p>", ""))
          </div>
        </div>
      </div>
    }

    @* Messages / Send Button *@
    @RenderPage("shared/_Submit with Messages.cshtml")
  </div>
  
</div>

@RenderPage("shared/_Assets.cshtml")