@inherits Custom.Hybrid.Razor12
@using System.Linq
@{
  var Edition = CmsContext.View.Edition;
  var workflowId = "MailChimpDefault";
  var FieldBuilder = CreateInstance("shared/FieldBuilders.cs");
  FieldBuilder.LabelInPlaceholder = true;
  var helpers = CreateInstance("shared/Helpers.cs");
  var pageCss = GetService<Connect.Koi.ICss>();
  var domAttribute = "mobius-" + CmsContext.Module.Id;
}

<div class="@helpers.WrapperClasses(Content)" @domAttribute data-webservice="app/auto/@Edition/api/Form/ProcessForm?workflowId=@workflowId">
  @Html.Partial("shared/_Toolbar.cshtml", new { Content = Content, WorkflowId = workflowId })

  <div class="app-mobius5-form">
    @FieldBuilder.Text("SenderMail", true)
    @FieldBuilder.Text("SenderName", true)
    @FieldBuilder.Text("SenderLastName", true)
    
    @* Show/Hide features like Terms, Gdpr, Recaptcha *@
    @if (Settings.TermsEnabled)       { @Html.Partial("shared/_Terms.cshtml") }
    @if (Settings.GdprEnabled)        { @Html.Partial("shared/_GDPR.cshtml") }
    @if (Content.Recaptcha ?? false)  { @Html.Partial("shared/_Recaptcha.cshtml") }

    @* Messages / Send Button *@
    @Html.Partial("shared/_Submit with Messages.cshtml", new { IsMailChimpForm = true })
  </div>
</div>

@Html.Partial("shared/_Assets.cshtml", new { DomAttribute = domAttribute })