@using Connect.Koi
@using System.Linq
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@{
  string Edition = PageData["Edition"];
  // get form config (data-type, web-api, etc.)
  var config = (Content.Presentation.SubmitType as Dynlist).FirstOrDefault()  // custom for this form only...
      ?? (App.Settings.SubmitType as Dynlist).First();    // ...or app-default configuration
}

<div class="app-jqfs-wrapper app-jqfs-mailchimp-wrapper app-recaptcha-wrapper sc-element app-jqfs-mailchimp-@Dnn.Module.ModuleID" data-webservice="app/auto/@Edition/api/@config.Webservice">
  @RenderPage("shared/_Shared Toolbar.cshtml", new { Content = Content, Config = config })

  <div class="app-jqfs-form app-jqfs-form-mailchimp">
    <!-- Sender Mail -->
    <div @Koi.Class("all='app-jqfs-support-disable clearfix' bs3='form-group' bs4,oth='form-group'")>
      <input placeholder="@App.Resources.LabelSenderMail" type="email" class="form-control sender-mail" id="SenderMail" value="" required data-smk-msg="@App.Resources.LabelValidEmail">
    </div>

    <!-- Sender Name -->
    <div @Koi.Class("all='app-jqfs-support-disable clearfix' bs3='form-group' bs4,oth='form-group'")>
      <input placeholder="@App.Resources.LabelSenderName" type="text" class="form-control sender-name"  id="SenderName" value="" required data-smk-msg="@App.Resources.LabelRequired">
    </div>

    <!-- Sender LastName -->
    <div @Koi.Class("all='app-jqfs-support-disable clearfix' bs3='form-group' bs4,oth='form-group'")>
      <input placeholder="@App.Resources.LabelSenderSurname" type="text" class="form-control sender-lastname" id="SenderLastName" value="" required data-smk-msg="@App.Resources.LabelRequired">
    </div>
    
    <!-- Sender AcceptDSGVO -->
    <div @Koi.Class("all='app-jqfs-support-disable clearfix' bs3='form-group' bs4,oth='form-group'")>
      <div @Koi.Class("bs3='row' bs4,oth='row'")>
        <div @Koi.Class("bs3='col col-xs-1' bs4,oth='col-1'")>
          <input  type="checkbox" id="DSGVO" name="DSGVO" required data-smk-msg="@App.Resources.LabelRequired" >
        </div>
        <div @Koi.Class("bs3='col col-xs-11' bs4,oth='col-11'")>
          <label for="DSGVO" class="control-label">@Html.Raw(App.Resources.LabelDSGVO)</label>
        </div>
      </div>
    </div>

    <!-- Recaptcha -->
    @if(Content.Recaptcha ?? false) {
      @RenderPage("shared/_Shared Recaptcha.cshtml")
    }

    <!-- Messages / Send -->
    <div class="form-group row">
      @RenderPage("shared/_Shared Submit with Messages.cshtml")
    </div>
  </div>
  

  @if(String.IsNullOrEmpty(App.Settings.MailchimpListId) || String.IsNullOrEmpty(App.Settings.MailchimpAPIKey) || String.IsNullOrEmpty(App.Settings.MailchimpServer) || String.IsNullOrEmpty(App.Settings.MailchimpSubscriptionStatus)) {
      <br>
      <div @Koi.Class("bs3='alert alert-danger' bs4,oth='alert alert-danger'") role="alert">
          Please fill out the App Settings regarding your Mailchimp data.
      </div>
  }
</div>

@RenderPage("shared/_Shared Assets.cshtml", new { Edition = Edition})