@inherits Custom.Hybrid.RazorTyped
@using System.Linq
@{
  // Configuration for this form - eg. Recipient mail etc.
  var formConfig = MyItem;
  // Configuration what mail templates to use, what content-type to save on etc. - stored in the Type "Workflow"
  var workflowId = "ContactDefault";

  // Helpers and Form Builder
  var helpers = GetCode("./tools/Helpers.cs");
  var FieldBuilder = GetCode("./tools/FieldBuilders.cs");
}

<div class="@helpers.WrapperClasses(formConfig)" @helpers.FormMobiusId()>
  @Html.Partial("./parts/Toolbar.cshtml", new { formConfig, workflowId })

  <div class="app-mobius5-form">
    @FieldBuilder.Text("Subject", true)
    @FieldBuilder.Multiline("Message", true)
    @FieldBuilder.Text("SenderName", false)
    @FieldBuilder.EMail("SenderMail", true)

    @* Show/Hide features like Terms, Gdpr, Recaptcha and Submit *@
    @Html.Partial("./parts/Footer.cshtml", new { formConfig })
  </div>
</div>

@Html.Partial("./parts/Assets.cshtml", new { formConfig, workflowId })