@inherits Custom.Hybrid.RazorTyped
@using System.Linq
@*
  This is a demo how you can use JavaScript to show/hide fields based on other selections
*@
@{
  // Configuration for this form - eg. Recipient mail etc.
  var formConfig = MyItem;
  // Configuration what mail templates to use, what content-type to save on etc. - stored in the Type "Workflow"
  var workflowId = "GenericSave";

  // Helpers and Form Builder
  var helpers = GetCode("./tools/Helpers.cs");
  var FieldBuilder = GetCode("./tools/FieldBuilders.cs");
}


<script @Kit.Page.AssetAttributes()>
  // 2sxclint:disable:no-inline-script
  // toggles visibility and sets provided domElement to required
  function showAndMakeRequired(domId) {
    const customField = document.querySelector(domId);
    customField.style.display = customField.style.display === 'none' ? 'flex' : 'none'; 
    customField.querySelector('input').setAttribute('required', this.checked)
  }
</script>

<div class="@helpers.WrapperClasses(formConfig)" @helpers.FormMobiusId()>
  @Html.Partial("./parts/Toolbar.cshtml", new { formConfig, workflowId })

  <div class="app-mobius5-form">
    @FieldBuilder.Text("Subject", true)
    @FieldBuilder.Multiline("Message", true)
    @FieldBuilder.Text("SenderName", false)
    @FieldBuilder.EMail("SenderMail", true)

    <!-- I'm a Customer -->
    @{
      // will show/hide the additional field, and set it's "Required" state
      // create a unique name, to ensure it works if multiple forms are on the page
      var customFieldId = "app-mobius5-cid-" + UniqueKey;
    }

    <div class="mb-3 row">
      <label for="IsCustomer-@UniqueKey" class='control-label app-mobius5-field-required @(Kit.Css.Is("bs3") ? "col col-xs-11" : "col-11")'>I'm a Customer</label>
      <div class='@(Kit.Css.Is("bs3") ? "col col-xs-1" : "col-1") d-flex justify-content-end'>
        <!-- Important: That the validation works in checkboxes they have to have the "name" attribute instead of "id" -->
        <input type="checkbox" data-pristine-required-message="Required" id="IsCustomer-@UniqueKey" name="IsCustomer-@UniqueKey" required onclick="showAndMakeRequired('#@customFieldId')">
      </div>
    </div>

    <!-- Customer ID (if is customer) -->
    <div id="@customFieldId" class="mb-3 row" style="display:none">
      <label for="CustomerId" class='control-label app-mobius5-field-required @(Kit.Css.Is("bs3") ? "col col-xs-12 col-sm-4" : "col-12 col-md-4")'>Customer ID</label>
      <div class='@(Kit.Css.Is("bs3") ? "col col-xs-12 col-sm-8" : "col-12 col-md-8")'>
        <input type="text" class="form-control" data-pristine-required-message="Required" id="CustomerId" value="">
      </div>
    </div>

    @* Show/Hide features like Terms, Gdpr, Recaptcha and Submit *@
    @Html.Partial("./parts/Footer.cshtml", new { formConfig })
  </div>
</div>

@Html.Partial("./parts/Assets.cshtml", new { formConfig, workflowId })