<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="100"/>
<script src="@App.Path/dist/form-send.js" type="text/javascript" data-enableoptimizations="100"></script>

@{
  var recaptcha = false;//true; // todo: get this from module settings
  var mid = Dnn.Module.ModuleID;
  var sitekey = App.Settings.RecaptchaSiteKey;
  var wrapperClass = "app-jqfs-id" + mid;
}


<div class="app-jqfs-wrapper @wrapperClass sc-element">
    @Edit.Toolbar(Content)
      @* toolbar to edit registrations of this course - opens the items and filters by this contentblock *@
      @Edit.Toolbar(toolbar: new object[] { 
          new { showCondition = true,
              command = new { action = "contentitems", 
                contentType= "ContactSimple", 
                filters = new { ModuleId = mid } 
            }
        }
      }, settings: new { hover="left", show = "hover" })
      <div>
        <div class="form-group">
          <label for="subject" class="app-jqfs-field-required">@App.Resources.LabelSubject:</label>
          <input type="text" item-property="Subject" class="form-control" id="subject" aria-describedby="help-block-subject" value="test subj">
          <span id="help-block-subject" class="help-block">@App.Resources.LabelRequired</span>
        </div>
        <div class="form-group">
          <label for="message" class="app-jqfs-field-required">@App.Resources.LabelMessage</label>
          <textarea item-property="Message" class="form-control" rows="5" id="message" aria-describedby="help-block-message">test msg</textarea>
          <span id="help-block-message" class="help-block">@App.Resources.LabelRequired</span>
        </div>
        <div class="form-group">
          <label for="sendername">Sender Name:</label>
          <input type="text" item-property="SenderName" class="form-control" id="sendername" value="test joe">
        </div>
        <div class="form-group">
          <label for="sendermail" class="app-jqfs-field-required">Sender E-Mail: (todo)</label>
          <input type="text" item-property="SenderMail" class="form-control" id="sendermail" aria-describedby="help-block-sendermail" value="test@test.com">
          <span id="help-block-sendermail" class="help-block">@App.Resources.LabelRequired</span>
        </div>

        @if(recaptcha) {
          var recaptchaId = "grecaptcha_" + mid;
          <div class="form-group">
          <label for="" class="app-jqfs-field-required">Are you human? (todo)</label>
            <script type="text/javascript">
              // this mini-function carries the moduleID and ensures that each module has an own recaptcha
              var recaptcha_onloadCallback_@mid = function() { 
                window.appJqFormSimple.recap.register("@recaptchaId", $("." + "@wrapperClass"), "@sitekey"); 
              };
              var recapcallback = function(o){
                console.log(o);
              }
            </script>
            <script src="https://www.google.com/recaptcha/api.js?onload=recaptcha_onloadCallback_@mid&render=explicit" async defer></script>
            <div id='@recaptchaId' class="app-recaptcha" data-sitekey="@sitekey" data-callback="recapcallback"></div>
            <input type="hidden" id="useRecaptcha" value="true">
          </div>
        }

        <div class="form-group">
          <button id="submit" type="button" class="btn btn-default">@App.Resources.ButtonSend</button>
        </div>
    </div>
    
    <br/>
    <div>
        <div id="msgOk" class="alert alert-success app-app-jqfs-message" role="alert">@Html.Raw( App.Resources.MessageSendOk )</div>
        <div id="msgIncomplete" class="alert alert-warning app-app-jqfs-message" role="alert">@Html.Raw( App.Resources.MessageFormIncomplete )</div>
        <div id="msgRecap" class="alert alert-warning app-app-jqfs-message" role="alert">@Html.Raw( App.Resources.MessageRecaptchaMissing )</div>
        <div id="msgError" class="alert alert-danger app-app-jqfs-message" role="alert">@Html.Raw( App.Resources.MessageSendError )</div>
    </div>
</div>
<script>
  $(function(){ window.appJqFormSimple.init(); }); // init the form - must trigger here in case the form was added w/ajax
</script>