<script type="text/javascript" src="/desktopmodules/tosic_sexycontent/js/2sxc.api.min.js" data-enableoptimizations="100"></script>
<script src="@App.Path/node_modules/smokejs/dist/js/smoke.min.js" data-enableoptimizations="100"></script>

@using Connect.Koi
@using System.Linq

@{
  // get form config (data-type, web-api, etc.)
  var config = (Content.Presentation.SubmitType as IEnumerable<dynamic>).FirstOrDefault()  // custom for this form only...
      ?? (App.Settings.SubmitType as IEnumerable<dynamic>).First();    // ...or app-default configuration
}

<div class="app-jqfs-wrapper app-jqfs-mailchimp-wrapper app-recaptcha-wrapper sc-element app-jqfs-mailchimp-@Dnn.Module.ModuleID" data-webservice="@config.Webservice" >
      @* normal toolbar & toolbar to edit registrations of this course - opens the items and filters by this contentblock *@
      @Edit.Toolbar(Content)
      @Edit.Toolbar(toolbar: new object[] { 
          new { showCondition = true,
              command = new { action = "contentitems", 
                contentType = config.ContentType, 
                filters = new { ModuleId = Dnn.Module.ModuleID } 
            }
        }
      }, settings: new { hover="left", show = "hover" })

      <div class="app-jqfs-form app-jqfs-form-mailchimp">
        <!-- Sender Mail -->
        <div @Koi.Class("all='app-jqfs-support-disable clearfix' bs3='form-group' bs4,oth='form-group'")>
                <input placeholder="@App.Resources.LabelSenderMail" type="email" class="form-control sender-mail" value="" required data-smk-msg="@App.Resources.LabelValidEmail">
        </div>

        <!-- Sender Name -->
        <div @Koi.Class("all='app-jqfs-support-disable clearfix' bs3='form-group' bs4,oth='form-group'")>
            <input placeholder="@App.Resources.LabelSenderName" type="text" class="form-control sender-name" value="" required data-smk-msg="@App.Resources.LabelRequired">
        </div>

        <!-- Sender LastName -->
        <div @Koi.Class("all='app-jqfs-support-disable clearfix' bs3='form-group' bs4,oth='form-group'")>
                <input placeholder="@App.Resources.LabelSenderSurname" type="text" class="form-control sender-surname" value="" required data-smk-msg="@App.Resources.LabelRequired">
        </div>
        
        <!-- Sender AcceptDSGVO -->
        <div @Koi.Class("all='app-jqfs-support-disable clearfix' bs3='form-group' bs4,oth='form-group'")>
          <div @Koi.Class("bs3='row' bs4,oth='row'")>
            <div @Koi.Class("bs3='col col-xs-1' bs4,oth='col-1'")>
              <input  type="checkbox" id="DSGVO" name="DSGVO" required data-smk-msg="@App.Resources.LabelRequired" >
            </div>
            <div @Koi.Class("bs3='col col-xs-11' bs4,oth='col-11'")>
              <label for="DSGVO" class="control-label">@Html.Raw(App.Resources.LabelDSGVO)</label>
            </div>
          </div>
        </div>

        <!-- Recaptcha -->
        @if(Content.Recaptcha ?? false) {
          <div class="form-group app-jqfs-support-disable">
            <label for="" class="app-jqfs-field-required control-label col col-xs-12 col-sm-4">@App.Resources.LabelRecaptcha</label>
            <div class="col col-xs-12 col-sm-8">
              <div class="app-jqfs-recaptcha g-recaptcha" data-sitekey="@App.Settings.RecaptchaSiteKey" data-size="normal"></div>
            </div>
          </div>
        }

        <!-- Messages / Send -->
        <div class="form-group">
          @RenderPage("_Shared - Messages.cshtml")
        
          <!-- mc button -->
          <div @Koi.Class("all='app-jqfs-support-disable' bs3='' bs4,oth=''")>
              <button id="subToMc" type="button" @Koi.Class("bs3='btn btn-primary' bs4,oth='btn btn-primary'")>@App.Resources.ButtonSendNewsletter</button><br />
              <span id="EmailReminder">@App.Resources.LabelGeneralReminder</span>
          </div>
          
         
    </div>
  </div>
  
  <span  @Koi.Class("bs3='alert alert-danger' bs4,oth='alert alert-success'") id="NewsletterSuccessMsg">@App.Resources.MessageNewsletterSuccess</span>
  <span @Koi.Class("bs3='alert alert-danger' bs4,oth='alert alert-danger'") id="NewsletterFailedMsg">@App.Resources.MessageNewsletterUnexpectedError</span>

  @if(String.IsNullOrEmpty(App.Settings.MailchimpListId) || String.IsNullOrEmpty(App.Settings.MailchimpAPIKey) || String.IsNullOrEmpty(App.Settings.MailchimpServer) || String.IsNullOrEmpty(App.Settings.MailchimpSubscriptionStatus)) {
      <br>
      <div @Koi.Class("bs3='alert alert-danger' bs4,oth='alert alert-danger'") role="alert">
          Please fill out the App Settings regarding your Mailchimp data.
      </div>
  }
</div>

<script src="@App.Path/live/dist/app-bundle.min.js" data-enableoptimizations="true"></script>
<link rel="stylesheet" type="text/css" href="@App.Path/live/dist/style.min.css" data-enableoptimizations="true">
<script>
    // Replace 'appname' with the name you gave your app in the webpack.config 
    mobius = new mobiusforms.App(@Dnn.Module.ModuleID);
    mobius.initialize();
</script>

<script src="https://www.google.com/recaptcha/api.js" async defer data-enableoptimizations="true"></script>

