<script type="text/javascript" src="/desktopmodules/tosic_sexycontent/js/2sxc.api.min.js" data-enableoptimizations="100"></script>
<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="100"/>
<script src="@App.Path/dist/smoke.min.js"></script>
<script src="@App.Path/dist/form-send.js" type="text/javascript" data-enableoptimizations="100"></script>

@using System.Linq
@{
  // get form config (data-type, web-api, etc.)
  var config = (Content.Presentation.SubmitType as IEnumerable<dynamic>).FirstOrDefault()  // custom for this form only...
      ?? (App.Settings.SubmitType as IEnumerable<dynamic>).First();    // ...or app-default configuration
}

<div class="app-jqfs-wrapper app-recaptcha-wrapper sc-element" data-webservice="@config.Webservice" >
      @* normal toolbar & toolbar to edit registrations of this course - opens the items and filters by this contentblock *@
      @Edit.Toolbar(Content)
      @Edit.Toolbar(toolbar: new object[] { 
          new { showCondition = true,
              command = new { action = "contentitems", 
                contentType = config.ContentType, 
                filters = new { ModuleId = Dnn.Module.ModuleID } 
            }
        }
      }, settings: new { hover="left", show = "hover" })

      <div class="app-jqfs-form">

        <!-- Subject -->
        <div class="form-group app-jqfs-support-disable">
          <label for="subject" class="app-jqfs-field-required control-label col col-xs-12 col-sm-4">@App.Resources.LabelSubject:</label>
          <div class="col col-xs-12 col-sm-8">
            <input type="text" item-property="Subject" class="form-control" id="subject" value="" required data-smk-msg="@App.Resources.LabelRequired">
          </div>
        </div>

        <!-- Message -->
        <div class="form-group app-jqfs-support-disable">
          <label for="message" class="app-jqfs-field-required control-label col col-xs-12 col-sm-4">@App.Resources.LabelMessage</label>
          <div class="col col-xs-12 col-sm-8">
            <textarea item-property="Message" class="form-control" rows="5" id="message" required data-smk-msg="@App.Resources.LabelRequired"></textarea>
          </div>
        </div>

        <!-- Sender Name -->
        <div class="form-group app-jqfs-support-disable">
          <label for="sendername" class="control-label col col-xs-12 col-sm-4">@App.Resources.LabelSenderName</label>
          <div class="col col-xs-12 col-sm-8">
            <input type="text" item-property="SenderName" class="form-control" id="sendername" value="">
          </div>
        </div>

        <!-- Sender Mail -->
        <div class="form-group app-jqfs-support-disable">
          <label for="sendermail" class="app-jqfs-field-required control-label col col-xs-12 col-sm-4">@App.Resources.LabelSenderMail</label>
          <div class="col col-xs-12 col-sm-8">
            <input type="email" item-property="SenderMail" class="form-control" id="sendermail" value="" required data-smk-msg="@App.Resources.LabelValidEmail">
          </div>
        </div>

        <!-- ChargeMe Dropdown -->
        <div class="form-group app-jqfs-support-disable">
          <label for="ChargeMe" class="app-jqfs-field-required control-label col col-xs-12 col-sm-4">@App.Resources.ChargeMe</label>
          <div class="col col-xs-12 col-sm-8">
              <select class="form-control" id="ChargeMe" required data-smk-msg="@App.Resources.LabelRequired">
                  <option value="">--Please Select--</option>
                  <option>This is just feedback, don't charge me</option>
                  <option>It's ok to charge me 1h = 160.-</option>
                  <option>It's ok to charge me 4h = 640.-</option>
                  <option>It's ok to charge me 1d = 1'280.-</option>
                  <option>It's ok to charge me 10h = 1'600.-</option>
                  <option>This could be more than 10h, please contact me</option>
              </select>
          </div>
        </div>

        <!-- Recaptcha -->
        @if(Content.Recaptcha ?? false) {
          <div class="form-group app-jqfs-support-disable">
            <label for="" class="app-jqfs-field-required control-label col col-xs-12 col-sm-4">@App.Resources.LabelRecaptcha</label>
            <div class="col col-xs-12 col-sm-8">
              <div class="app-jqfs-recaptcha" data-sitekey="@App.Settings.RecaptchaSiteKey"></div>
            </div>
          </div>
          @* load scripts - at page bottom - must be optimized bottom, otherwise it might load before the html is ready *@
          <script src="@App.Path/dist/recaptcha.js" type="text/javascript" data-enableoptimizations="999:bottom"></script>
          <script src="https://www.google.com/recaptcha/api.js?onload=appJqRecap&render=explicit" async defer data-enableoptimizations="1000:bottom"></script>
        }

        <!-- Messages / Send -->
        <div class="form-group">
          <!-- error messages, invisible at first --> 
          <div class="col col-sm-12 col-xs-12">
            <div id="msgIncomplete" class="alert alert-warning app-app-jqfs-message" role="alert">@Html.Raw( App.Resources.MessageFormIncomplete )</div>
            <div id="msgRecap" class="alert alert-warning app-app-jqfs-message" role="alert">@Html.Raw( App.Resources.MessageRecaptchaMissing )</div>
            <div id="msgError" class="alert alert-danger app-app-jqfs-message" role="alert">@Html.Raw( App.Resources.MessageSendError )</div>
            <div id="msgSending" class="alert alert-warning app-app-jqfs-message" role="alert">@Html.Raw( App.Resources.MessageSending )</div>
            <div id="msgOk" class="alert alert-success app-app-jqfs-message" role="alert">@Html.Raw( App.Resources.MessageSendOk )</div>
          </div>
          <!-- send button -->
          <div class="col-sm-offset-4 col-sm-8 col col-xs-offset-0 col col-xs-12 app-jqfs-support-disable">
            <button id="submit" type="button" class="btn btn-primary">@App.Resources.ButtonSend</button>
        </div>
    </div>
  </div>

</div>

<script>
  $(function(){ window.appJqF.init(); }); // init the form - must trigger in-line, in case the form was added w/ajax
</script>



