<script type="text/javascript" src="/desktopmodules/tosic_sexycontent/js/2sxc.api.min.js" data-enableoptimizations="100" ></script>
<script src="@App.Path/node_modules/smokejs/dist/js/smoke.min.js" data-enableoptimizations="100"></script>

@using System.Linq
@using Connect.Koi

@{
  // get form config (data-type, web-api, etc.)
  var config = (Content.Presentation.SubmitType as IEnumerable<dynamic>).FirstOrDefault()  // custom for this form only...
      ?? (App.Settings.SubmitType as IEnumerable<dynamic>).First();    // ...or app-default configuration
}

<div class="app-jqfs-wrapper app-recaptcha-wrapper sc-element" data-webservice="@config.Webservice" >
      @* normal toolbar & toolbar to edit registrations of this course - opens the items and filters by this contentblock *@
      @Edit.Toolbar(Content)
      @Edit.Toolbar(toolbar: new object[] { 
          new { showCondition = true,
              command = new { action = "contentitems", 
                contentType = config.ContentType, 
                filters = new { ModuleId = Dnn.Module.ModuleID } 
            }
        }
      }, settings: new { hover="left", show = "hover" })

      <div class="app-jqfs-form">

        <!-- Subject -->
        <div class="form-group app-jqfs-support-disable row">
          <label for="subject" @Koi.Class("all='control-label app-jqfs-field-required' bs3='col col-xs-12 col-sm-4' bs4,oth='col-12 col-md-4'")>@App.Resources.LabelSubject:</label>
          <div @Koi.Class("bs3='col col-xs-12 col-sm-8' bs4,oth='col-12 col-md-8'")>
            <input type="text" item-property="Subject" class="form-control" id="subject" value="" required data-smk-msg="@App.Resources.LabelRequired">
          </div>
        </div>

        <!-- Message -->
        <div class="form-group app-jqfs-support-disable row">
          <label for="message" @Koi.Class("all='control-label app-jqfs-field-required' bs3='col col-xs-12 col-sm-4' bs4,oth='col-12 col-md-4'")>@App.Resources.LabelMessage</label>
          <div @Koi.Class("bs3='col col-xs-12 col-sm-8' bs4,oth='col-12 col-md-8'")>
            <textarea item-property="Message" class="form-control" rows="5" id="message" required data-smk-msg="@App.Resources.LabelRequired"></textarea>
          </div>
        </div>

        <!-- Sender Name -->
        <div class="form-group app-jqfs-support-disable row">
          <label for="sendername" @Koi.Class("all='control-label' bs3='col col-xs-12 col-sm-4' bs4,oth='col-12 col-md-4'")>@App.Resources.LabelSenderName</label>
          <div @Koi.Class("bs3='col col-xs-12 col-sm-8' bs4,oth='col-12 col-md-8'")>
            <input type="text" item-property="SenderName" class="form-control" id="sendername" value="">
          </div>
        </div>

        <!-- Sender Mail -->
        <div class="form-group app-jqfs-support-disable row">
          <label for="sendermail" @Koi.Class("all='control-label app-jqfs-field-required' bs3='col col-xs-12 col-sm-4' bs4,oth='col-12 col-md-4'")>@App.Resources.LabelSenderMail</label>
          <div @Koi.Class("bs3='col col-xs-12 col-sm-8' bs4,oth='col-12 col-md-8'")>
            <input type="email" item-property="SenderMail" class="form-control" id="sendermail" value="" required data-smk-msg="@App.Resources.LabelValidEmail">
          </div>
        </div>

        <!-- ChargeMe Dropdown -->
        <div class="form-group app-jqfs-support-disable row">
          <label for="ChargeMe"@Koi.Class("all='control-label app-jqfs-field-required' bs3='col col-xs-12 col-sm-4' bs4,oth='col-12 col-md-4'")>@App.Resources.ChargeMe</label>
          <div @Koi.Class("bs3='col col-xs-12 col-sm-8' bs4,oth='col-12 col-md-8'")>
              <select class="form-control" id="ChargeMe" required data-smk-msg="@App.Resources.LabelRequired">
                  <option value="">--Please Select--</option>
                  <option>This is just feedback, don't charge me</option>
                  <option>It's ok to charge me 1h = 160.-</option>
                  <option>It's ok to charge me 4h = 640.-</option>
                  <option>It's ok to charge me 1d = 1'280.-</option>
                  <option>It's ok to charge me 10h = 1'600.-</option>
                  <option>This could be more than 10h, please contact me</option>
              </select>
          </div>
        </div>

        <!-- Recaptcha -->
        @if(Content.Recaptcha ?? false) {
          @RenderPage("_Shared Recaptcha.cshtml")
        }

        <!-- Messages / Send -->
        <div class="form-group row">
          @RenderPage("_Shared - Messages.cshtml")
          
          <!-- send button -->
          <div @Koi.Class("all='app-jqfs-support-disable' bs3='col col-xs-12' bs4,oth='col-12'")>
            <button id="sendFormWithApi" type="button" class="btn btn-primary">@App.Resources.ButtonSend</button>
          </div>
        </div>
  </div>

</div>

<script src="@App.Path/live/dist/app-bundle.min.js" data-enableoptimizations="true"></script>
<link rel="stylesheet" type="text/css" href="@App.Path/live/dist/style.min.css" data-enableoptimizations="true">
<script>
    // Replace 'appname' with the name you gave your app in the webpack.config 
    mobius = new mobiusforms.App(@Dnn.Module.ModuleID);
    mobius.initialize();
</script>

<script src="https://www.google.com/recaptcha/api.js" async defer data-enableoptimizations="true"></script>



