@inherits ToSic.Sxc.Dnn.RazorComponent
@using System.Linq
@using Connect.Koi
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@{
  var Edition = (Dnn.User.IsSuperUser ? "staging" : "live");
  var workflowId = "AddressDefault";
  var FieldBuilder = CreateInstance("shared/_Field Builders.cshtml");
  var helpers = CreateInstance("shared/_Helpers.cshtml");
}

<div class="@helpers.WrapperClasses(Content)" data-webservice="app/auto/@Edition/api/Form/ProcessForm?workflowId=@workflowId">
  @RenderPage("shared/_Toolbar.cshtml", new { Content = Content, WorkflowId = workflowId })

  <div class="mobius-form">
    @FieldBuilder.Text("SenderName", true)
    @FieldBuilder.Text("SenderSurname", true)
    @FieldBuilder.Text("SenderStreet", false)
    @FieldBuilder.Text("SenderZIP", false)
    @FieldBuilder.Text("SenderCity", true)
    @FieldBuilder.Text("SenderPhone", true)
    @FieldBuilder.Text("Subject", true)
    @FieldBuilder.Multiline("Message", true)
    @FieldBuilder.EMail("SenderMail", true)

    @if(App.Settings.TermsEnabled) {
      @RenderPage("shared/_Terms.cshtml")
    }

    @if(App.Settings.GdprEnabled) {
      @RenderPage("shared/_GDPR.cshtml")
    }

    @* Recaptcha *@
    @if(Content.Recaptcha ?? false) {
      @RenderPage("shared/_Recaptcha.cshtml")
    }

    @* Messages / Send Button *@
    @RenderPage("shared/_Submit with Messages.cshtml")
  </div>

</div>

@RenderPage("shared/_Assets.cshtml")