@inherits ToSic.Sxc.Dnn.RazorComponent
@*
  Experimental stuff, don't use yet :)
  this is just some testing stuff
  not for production!!!
*@
@using System.Linq
@using Connect.Koi
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@{
  var Edition = (Dnn.User.IsSuperUser ? "staging" : "live");
  var workflowId = "GenericSave";
  var FieldBuilder = CreateInstance("shared/_Field Builders.cshtml");
  var helpers = CreateInstance("shared/_Helpers.cshtml");
}

<div class="@helpers.WrapperClasses(Content)" data-webservice="app/auto/@Edition/api/Form/ProcessForm?workflowId=@workflowId">
  @RenderPage("shared/_Toolbar.cshtml", new { Content = Content, WorkflowId = workflowId })

  <div class="mobius-form">
    @FieldBuilder.Text("Subject", true)
    @FieldBuilder.Multiline("Message", true)
    @FieldBuilder.Text("SenderName", false)
    @FieldBuilder.EMail("SenderMail", true)

    <!-- I'm a Customer -->
    @{
      // will show/hide the additional field, and set it's "Required" state
      // create a unique name, to ensure it works if multiple forms are on the page
      var custFieldId = "app-form-cid-" + Dnn.Module.ModuleID;
    }
    <div class="form-group row">
      <label for="IsCustomer" @Koi.Class("all='control-label mobius-field-required' bs3='col col-xs-12 col-sm-4' bs4,oth='col-12 col-md-4'")>I'm a Customer</label>
      <div @Koi.Class("bs3='col col-xs-12 col-sm-8' bs4,oth='col-12 col-md-8'")>
        <!-- Important: That the validation works in checkboxes they have to have the "name" attribute instead of "id" -->
        <input type="checkbox" class="form-control" name="IsCustomer" onclick="$('#@custFieldId').toggle(this.checked).find('input').prop('required', this.checked)" required>
      </div>
    </div>

    <!-- Customer ID (if is customer) -->
    <div id="@custFieldId" class="form-group row" style="display:none">
      <label for="CustomerId" @Koi.Class("all='control-label mobius-field-required' bs3='col col-xs-12 col-sm-4' bs4,oth='col-12 col-md-4'")>Customer ID</label>
      <div @Koi.Class("bs3='col col-xs-12 col-sm-8' bs4,oth='col-12 col-md-8'")>
        <input type="text" class="form-control" id="CustomerId" value="">
      </div>
    </div>

    @if(App.Settings.TermsEnabled) {
      @RenderPage("shared/_Terms.cshtml")
    }

    @if(App.Settings.GdprEnabled) {
      @RenderPage("shared/_GDPR.cshtml")
    }

    @* Recaptcha *@
    @if(Content.Recaptcha ?? false) {
      @RenderPage("shared/_Recaptcha.cshtml")
    }

    @* Messages / Send Button *@
    @RenderPage("shared/_Submit with Messages.cshtml")
  </div>
</div>

@RenderPage("shared/_Assets.cshtml")