@inherits ToSic.Sxc.Dnn.RazorComponent
@using Connect.Koi
@using System.Linq
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@{
  string Edition = PageData["Edition"];
  // get form config (data-type, web-api, etc.)
  var config = (Content.Presentation.SubmitType as Dynlist).FirstOrDefault()  // custom for this form only...
      ?? (App.Settings.SubmitType as Dynlist).First();    // ...or app-default configuration

  var FieldBuilder = CreateInstance("shared/_Field Builders.cshtml");
  FieldBuilder.LabelInPlaceholder = true;
  var helpers = CreateInstance("shared/_Helpers.cshtml");
}

<div class="@helpers.WrapperClasses(Content)" data-webservice="app/auto/@Edition/api/@config.Webservice">
  @RenderPage("shared/_Toolbar.cshtml", new { Content = Content, Config = config })

  <div class="mobius-form">
    @FieldBuilder.Text("SenderMail", true)
    @FieldBuilder.Text("SenderName", true)
    @FieldBuilder.Text("SenderLastName", true)
    
    @RenderPage("shared/_DSGVO.cshtml")

    <!-- Recaptcha -->
    @if(Content.Recaptcha ?? false) {
      @RenderPage("shared/_Recaptcha.cshtml")
    }

    @if(!Content.Mailchimp) {
      <div class="form-group row">
        <div @Koi.Class("bs3='col col-xs-12' bs4,oth='col-12'")>
          <div class="alert alert-warning">
            @App.Resources.MessageEnableMailchimp
          </div>
        </div>
      </div>
    }

    <!-- Messages / Send Button -->
    @RenderPage("shared/_Submit with Messages.cshtml")
  </div>
  
</div>

@RenderPage("shared/_Assets.cshtml", new { Edition = Edition})