@using Connect.Koi
@using System.Linq
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@{
  string Edition = PageData["Edition"];
  // get form config (data-type, web-api, etc.)
  var config = (Content.Presentation.SubmitType as Dynlist).FirstOrDefault()  // custom for this form only...
      ?? (App.Settings.SubmitType as Dynlist).First();    // ...or app-default configuration

  var FieldBuilder = CreateInstance("shared/_Field Builders.cshtml");
  FieldBuilder.LabelInPlaceholder = true;
}

<div class="app-jqfs-wrapper app-jqfs-mailchimp-wrapper @(Content.Recaptcha ?? false ? "app-recaptcha-wrapper" : "") sc-element" data-webservice="app/auto/@Edition/api/@config.Webservice">
  @RenderPage("shared/_Toolbar.cshtml", new { Content = Content, Config = config })

  <div class="app-jqfs-form">
    @FieldBuilder.Text("SenderMail", true)
    @FieldBuilder.Text("SenderName", true)
    @FieldBuilder.Text("SenderLastName", true)
    
    <!-- Sender AcceptDSGVO -->
    <div class="form-group">
      <div class="row">
        <div @Koi.Class("bs3='col col-xs-1' bs4,oth='col-1'")>
          <input type="checkbox" id="DSGVO" name="DSGVO" required data-smk-msg="@App.Resources.LabelRequired" >
        </div>
        <div @Koi.Class("bs3='col col-xs-11' bs4,oth='col-11'")>
          <label for="DSGVO" class="control-label">@Html.Raw(App.Resources.LabelDSGVO)</label>
        </div>
      </div>
    </div>

    <!-- Recaptcha -->
    @if(Content.Recaptcha ?? false) {
      @RenderPage("shared/_Recaptcha.cshtml")
    }

    <!-- Messages / Send Button -->
    @RenderPage("shared/_Submit with Messages.cshtml")
  </div>
  

  @if(String.IsNullOrEmpty(App.Settings.MailchimpListId) || String.IsNullOrEmpty(App.Settings.MailchimpAPIKey) || String.IsNullOrEmpty(App.Settings.MailchimpServer) || String.IsNullOrEmpty(App.Settings.MailchimpSubscriptionStatus)) {
      <br>
      <div @Koi.Class("bs3='alert alert-danger' bs4,oth='alert alert-danger'") role="alert">
          Please fill out the App Settings regarding your Mailchimp data.
      </div>
  }
</div>

@RenderPage("shared/_Assets.cshtml", new { Edition = Edition})