@inherits Custom.Hybrid.RazorTyped
@using System.Linq
@{
  // Configuration for this form - eg. Recipient mail etc.
  var formConfig = MyItem;
  // Configuration what mail templates to use, what content-type to save on etc. - stored in the Type "Workflow"
  var workflowId = "ContactDefault";

  // Helpers and Form Builder
  var helpers = GetCode("./tools/Helpers.cs");
  var FieldBuilder = GetCode("./tools/FieldBuilders.cs");
}


<div class="@helpers.WrapperClasses(formConfig)" @helpers.FormMobiusId()>
  @Html.Partial("./parts/Toolbar.cshtml", new { formConfig, workflowId })

  <div class="app-mobius5-form">
    @FieldBuilder.EMail("SenderMail", true)
    @FieldBuilder.File("SingleFile", true, ".jpg, .jpeg", "File")
    @* since multiple files are sent to Attachments, in needs a unique form id *@
    @FieldBuilder.File("Attachments", false, "", "File")
    @FieldBuilder.File("Attachments", false, "", "File")
    
    @* Show/Hide features like Terms, Gdpr, Recaptcha and Submit *@
    @Html.Partial("./parts/Footer.cshtml", new { formConfig })

    @* show warning if the save-attachments in web api isn't activated
    this is a security feature to protect your installation from unwanted uploads *@
    @if (!Kit.Feature.IsEnabled("SaveInAdamApi")) {
      <div class="alert alert-warning">@App.Resources.String("MessageDisabledFeature")</div>
    }
  </div>
</div>

@Html.Partial("./parts/Assets.cshtml", new { formConfig, workflowId })