@inherits Custom.Hybrid.RazorTyped
@using System.Linq
@{
  // Configuration for this form - eg. Recipient mail etc.
  var formConfig = MyItem;
  // Configuration what mail templates to use, what content-type to save on etc. - stored in the Type "Workflow"
  var workflowId = "MailChimpDefault";

  // Helpers and Form Builder
  var helpers = GetCode("./tools/Helpers.cs");
  var FieldBuilder = GetCode("./tools/FieldBuilders.cs");
  FieldBuilder.LabelInPlaceholder = true;
}

<div class="@helpers.WrapperClasses(formConfig)" @helpers.FormMobiusId()>
  @Html.Partial("./parts/Toolbar.cshtml", new { formConfig, workflowId })

  <div class="app-mobius5-form">
    @FieldBuilder.Text("SenderMail", true)
    @FieldBuilder.Text("SenderName", true)
    @FieldBuilder.Text("SenderLastName", true)
    
    @* Show/Hide features like Terms, Gdpr, Recaptcha without Submit *@
    @Html.Partial("./parts/Footer.cshtml", new { formConfig, SkipSubmit = true })

    @* Show/Hide features like Terms, Gdpr, Recaptcha without Submit *@
    @Html.Partial("./parts/Footer.cshtml", new { formConfig, SkipConditions = true })

  </div>
</div>

@Html.Partial("./parts/Assets.cshtml", new { formConfig, workflowId })