@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Data;
@using ThisApp.Data
@{
  var formConfig = MyModel.Item("FormConfig");

  var sendToCustomer = formConfig.Bool("CustomerSend");
  var sendToOwner = formConfig.Bool("OwnerSend");
  var appRes = new AppResources(App.Resources);
}
<div class="mb-3 row">
  <!-- form error messages, invisible at first -->
  <div class='@(Kit.Css.Is("bs3") ? "col col-xs-12" : "col-12")'>
    @AddHiddenMessage(appRes.MessageFormIncomplete, "danger", "msgIncomplete")
    @AddHiddenMessage(appRes.MessageRecaptchaMissing, "danger", "msgRecap")
    @AddHiddenMessage(appRes.MessageSendError, "danger", "msgError")
    @AddHiddenMessage(appRes.MessageSending, "warning", "msgSending")
    @AddHiddenMessage(appRes.MessageNewsletterSuccess, "success", "msgNewsletterSuccess")
    @AddHiddenMessage(appRes.MessageNewsletterUnexpectedError, "danger", "msgNewsletterFailed")

    <div id="msgOk" class="alert alert-success app-mobius5-message" role="alert">
      @Html.Raw(appRes.MessageSendOk))
      @Html.Raw(sendToCustomer ? appRes.MessageCustomerMailSend : "")
    </div>

    @* Prepared messages for admin only *@
    @if (MyUser.IsContentAdmin) {
      if ((sendToCustomer || sendToOwner) && !Text.Has(formConfig.String("MailFrom")) && !Text.Has(App.Settings.String("DefaultMailFrom"))) {
        <div class="alert alert-warning">
          @Html.Raw((appRes.MessageMailFromError, scrubHtml: "p"))
        </div>
      }

      if (sendToOwner && !Text.Has(formConfig.String("OwnerMail")) && !Text.Has(App.Settings.String("DefaultOwnerMail"))) {
        <div class="alert alert-warning">
          @Html.Raw((appRes.MessageMailOwnerError, scrubHtml: "p"))
        </div>
      }
    }
  </div>

  <!-- send button -->
  <div class='@(Kit.Css.Is("bs3") ? "col col-xs-12" : "col-12")'>
    <button app-mobius5-send type="button" class="btn btn-primary">@appRes.ButtonSend</button>
  </div>
</div>

@functions {
  IHtmlTag AddHiddenMessage(string message, string type = "warning", string id = "", string attribute = "") {
    var classes = "alert alert-" + type + " app-mobius5-message";
    var rawMessage = Kit.Scrub.Only(message, "p");
    var messageDiv = Tag.Div(rawMessage).Class(classes).Id(id).Attr("role", "alert");
    if (attribute != "") { messageDiv.Attr(attribute, ""); }
    return messageDiv;
  }
}
