@inherits ToSic.Sxc.Dnn.RazorComponent
@helper Message(dynamic data, ToSic.Sxc.Code.IDynamicCode context)
{
    <!doctype html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">
            body { font-family: Helvetica, sans-serif; }
        </style>
    </head>
    <body>
        <h1>@context.App.Resources.MailCustomerTitle</h1>
        <div>
            @context.App.Resources.MailCustomerContent
        </div>
        <br />
        <div>
            @context.App.Resources.MailCustomerContentWithData
        </div>
        <table width="100%">
            @foreach (var item in data)
            {
                <tr>
                    <td width="10%"><b>@item.Key</b></td>
                    <td>@item.Value</td>
                </tr>
            }
        </table>
    </body>
</html>
}

@functions {
	public string Subject(dynamic data, dynamic context) {
        // create custom code to generate the subject here...

        // or just return the setting configured in the form
		return !String.IsNullOrWhiteSpace(context.Content.CustomerMailSubject)
            ? context.Content.CustomerMailSubject
            : context.App.Settings.CustomerMailSubject;
	}
}