@inherits ToSic.Sxc.Dnn.RazorComponent
@using Connect.Koi

<div class="form-group mobius-support-disable row">
  <label for="" @Koi.Class("all='control-label mobius-field-required' bs3='col col-xs-12 col-sm-4' bs4,oth='col-12 col-md-4'")>@App.Resources.LabelRecaptcha</label>
  <div @Koi.Class("bs3='col col-xs-12 col-sm-8' bs4,oth='col-12 col-md-8'")>
    <div class="g-recaptcha" data-sitekey="@App.Settings.RecaptchaSiteKey" data-size="normal"></div>
  </div>
</div>

@if(App.Settings.RecaptchaShowWaring == null || App.Settings.RecaptchaShowWaring) {
  <div class="alert alert-warning">
    @Html.Raw(App.Resources.MessageRecaptchaWarning.Replace("<p>", "").Replace("</p>", ""))
  </div>
}

<script src="https://www.google.com/recaptcha/api.js" async defer data-enableoptimizations="true"></script>